################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin/Debug
/src/obj/Debug
/test/Algorithm.Test/bin/Debug/netcoreapp2.1
/test/Algorithm.Test/obj/Debug/netcoreapp2.1
